@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior:smooth ;

}

.navbar{
    /* border: 1px solid black ; */
    height: 70px;
    width: 100%;
    display: flex;
    background-color: blue;
    color: white;
    position: sticky; 
    top: 0;
    z-index: 100;
}

/* #hiddennav{
    height: 100%;
    width: 100%;
    background-color: rgb(110, 32, 32)	;
    position: absolute;
    z-index: 30;
    transition: all 1s ease-in-out;
    top: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
    gap: 10px;
}
#hiddennav a{

    color: goldenrod;
    text-decoration: none;
    font-size: 30px;
} */
.logodiv{
    width: 40%;
    /* border: 1px solid black ; */
}
.logodiv P{
    font-size: 35PX;
    padding: 10PX;
    text-align: center;
}

.navsection{
    width: 60%;
    font-size: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid  red; */
}
.navsection a{ 
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.navsection a:hover{
    color: rgb(255, 206, 69);
    text-decoration: underline;
    font-size: 18PX;
}
.navsection button{
    color: blueviolet;
    background-color: rgb(255, 206, 69);
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 5%;
}
.navsection button:hover {
    background-color: #F6C6EA;
    color: blueviolet;
} 

.content{
    display: flex;
    /* border: 1px solid red; */
    height: 550px;
    width: 100%;
}
.subcontent-1{
    width: 50%;
    /* border: 1px solid blue; */
    margin-left: 100px;
    margin-top: 120px;
}

.subcontent-1 #itsme{
    font-size: 41px;

}
.subcontent-1 #itsme span{
    font-size: 41px;
}



.subcontent-2 img{
    height: 320px;
    width: 320px;
    margin-left: 160px;
    margin-top: 100px;
    transition:all 1s ;
}
.subcontent-2 img:hover{
    scale: 1.1;
    transition:all 1s ;
}

.about{
    font-size: 18px;
    color: rgb(78, 65, 65);
    line-height: 27px;
    width: 100%;
}
#button{
    background-color: rgb(255, 206, 69);
    color: rgb(134, 6, 255);
    margin-top: 40px;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 9%;  
    font-size: 18px;  
}
#button1{
    background-color: white;
    color: rgb(134, 6, 255);
    margin-top: 30px;
    width: 140px;
    height: 50px;
    border-radius: 9%;  
    font-size: 18px;  
}

#button:hover{
    background-color: #F6C6EA;
    color: blueviolet;
}
#button1:hover{
    background-color: wheat;
}


.Personalized{
    margin-left: 100px;
    margin-right: 100px;
    /* border: 1px solid black; */
    height: 200px;
    /* width: 50%; */
}
.Personalized h1{
    color: blue;
    /* border: 1px solid black; */
}

.line-1{
    font-size: large;
    color: rgb(78, 65, 65);
    /* border: 1px solid black; */   
}
.Personalized #about-1{
    font-size: 20px;
}


.Skills{
    /* height: 550px; */
    width: 100%;
    /* border: 1px solid black; */
}

.Skills h1{
    font-size: 50px;
    text-align: center;
    /* border: 1px solid red; */
    color: rgb(78, 65, 65);
}
#core-skills{
    margin-left: 100px;
    margin-right: 100px;
}
.Skills #core-skills h3{
    color: blue;
    font-size: 30px;
    /* margin-left: 100px; */
    /* text-decoration: underline; */
}
#core-skills p{
    font-size: 25px;
}



.Projects{
    height: 400px;
}
.Projects h1{
    font-size: 50px ;
    text-align: center;
    /* border: 1px solid red; */
    color: rgb(78, 65, 65);
}


#me{
    text-align: center;
    color: rgb(73, 57, 57);
    /* text-decoration: underline; */
}
#me a{
    line-height: 35px;
}
.footer{
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
  }

 @media (min-width:340px) and (max-width:650px)
 {
        
    
 /* body:has(#check-box:checked) #hiddennav{
        top: 0;
    } */



    /* #hiddennav{
        height: 100%;
        width: 100%;
        background-color: red;
        position: absolute;
        z-index: 30;
        transition: all 1s ease-in-out;
        top: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 80px;
        gap: 10px;
    }
    #hiddennav a{
    
        color: goldenrod;
        text-decoration: none;
        font-size: 30px;
    } */
  .navbar{
    height: 70px;
    width: 100%;
    display: flex;
    /* background-color: blue; */
    color: white;
    position: sticky; 
    /* top: 0; */
    z-index: 100;
    } 

  .logodiv{
    width: 100%;
    border: 1px solid black;
  }
  .logodiv p{
    font-size: 29px;
    
  }
  .logo{
    width: 100%;
  }
  .navsection{
    width: 0%;
  }
  .navsection a{
    width: 100%;
    display: none;
  }



  .content{
      display: block;
      width: 100%;
      height: 850px;
      /* border: 1px solid black; */
  
  }
  .subcontent-1{
      margin-left: 1px;
      width: 100%;
      margin-top: 30px;
  }

  .about{
    margin-left: 20px;

  }

  .subcontent-1 a{
    border: 1px solid black;
    margin-left: 25px;
  }
  .subcontent-2{
    /* border: 1px solid red; */
    /* height: 500px; */
  }
  .content h2{
      margin-left: 20px;
      font-size: 28px;
      }
  .subcontent-1 #itsme {
    margin-left: 20px;
    font-size: 20px;
      width: 100%;
  }
  .subcontent-2 img{
    height: 320px;
    width: 320px;
    margin-left: 30px;
    margin-top: 49px;
    transition:all 1s ;
    /* border: 1px solid black; */
}
.subcontent-2 img:hover{
    scale: 1.1;
    transition:all 1s ;
}
  .Personalized{
    height: 100%;
    width: 100%;
    margin-left: 5px;
    /* margin-right: 0%; */
    /* border: 1px solid black; */
 }
 .Personalized h1{
    text-align: center;
    color: rgb(78, 65, 65);
    text-decoration: underline;


 }
 .line-1{
    /* justify-content: center; */
    padding: 3%;
    height: 170px;
    line-height: 130%;
 }

 .skills{
  /* width: 550px; */
  width: 100%;

 }
 .Skills h1{
    font-size: 37px;
    text-decoration: underline;
}

 #core-skills{
    margin-left: 32px;
    margin-right:0px;

 }
 .Skills #core-skills h3{
    color: blue;
    font-size: 25px;
 }
 #core-skills p{
    font-size: 20px;
    line-height: 170%;
}

.Projects h1{
    text-decoration: underline;
}

#me h1{    text-decoration: underline;
}






 }
